.container {
  width: 70%;
  margin: auto;
  text-align: center;
}

.dice {
  text-align: center;
  display: inline-block;

}

body {
  background-color: #393E46;
}

h1 {
  margin: 30px;
  font-family: 'Lobster', cursive;
  text-shadow: 5px 0 #232931;
  font-size: 8rem;
  color: #4ECCA3;
}

p {
  font-size: 2rem;
  color: #4ECCA3;
  font-family: 'Indie Flower', cursive;
}

img {
  width: 80%;
}

footer {
  margin-top: 2%;
  color: #EEEEEE;
  text-align: center;
  font-family: 'Indie Flower', cursive;

}

.btn{
  margin-top: 4rem;
  width: 7rem;
  height: 3rem;
  border-radius: 20px;
  background-color: pink;
  cursor: pointer;
}

.btn:hover{
  opacity: 0.4;
}

@media screen and (max-width:786px) {
  .h1{
    font-size: 4rem;
    text-align: center;
    text-shadow: 0 0;
    margin: auto;

  }
  
}
